.little{
    width: 130px;
    margin-top: 0.5rem;
   
    
}

.for-background{
 background:url(/src/assets/secondbackground.png);
 height: 130vh;
 background-color: aliceblue;
padding-top: 7rem;


}
.trust{
    font-size: 40px;
    
}
.thousand{
 font-size: 24px;
 margin-top: 1rem;
   
}


.global{
white-space: pre-line;
font-size: 22px;
font-weight: bold;
margin-top: 1rem;
   
}

.accept{
white-space: pre-line;
font-size: 18px;
margin-top: 1rem;
}

.learn{
    font-size: 17px;
    margin-top: 0.5rem;
    font-weight: bold;
}
.getto{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
   
}

.container{
    box-shadow: 0  1px 3px;
}
.first-container{
    background-color: white;
    width: 370px;
    height: 280px;
    padding-left: 2rem;
    
}
.tits{
 margin-left: 2rem;
}
.side{
    margin-left: 2rem;
}